@import '../lib/font-awesome/css/font-awesome.min.css';

.clr_white{
	color: #fff !important;
}

.btn-red{
    background-color: #D71A21;
    color: #fff;
}

.btn.btn-red:hover {
  background-color: #f44336;
  color: #fff;
}

.img-vehiculo{
	height: 200px;
	width: 100%;
	object-fit: cover;
	object-position: top center;
}

.text-vehiculo{
	background: #e70103;
	color: #fff;
	padding: .5rem;
}

.img-noticia{
	height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: top center;
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-Mantenimiento{
	background-color: #f7f7f7;
}

.box-llamado{
	background-color: #D71A21;
}
.box-video{
	background-color: #F5F5F5;
}
.box-llamado, .box-video{
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.btn-linea-wh{
	border: 1px solid #ffffff;
	color: #ffffff;
	padding: 1rem;
}

.btn-linea-wh:hover{
	border: 1px solid #ffffff;
	color: #333333;
	padding: 1rem;
}

.btn-linea{
	border: 1px solid #D71A21;
	padding: 1rem;
}

.img-vehiculo-gl{
	height: auto;
	object-fit: cover;
	object-position: center center;
}

.img-repuestos{
	height: 200px;
	width: 200px;
	object-fit: cover;
	object-position: center center;
}

.titulo-noticia{
    background: #e70103;
    padding: 1rem;
    color: #fff;
    margin: 0px;
}

@media screen and (max-width: 320px){
	.navbar-brand {
		width: 150px;
	}
}

@media (min-width: 321px) and (max-width: 447px){
	.navbar-brand {
		width: 200px;
	}
}

@media (min-width: 448px) and (max-width: 522px){
	.navbar-brand {
		width: 300px;
	}
}

@media screen and (max-width: 767px){
	.intro .intro-title{
		font-size: 26px !important;
	}
	.intro .intro-body .price-a{
		padding: .5rem;
	}
	.title-a, .title-c, .title-single{
		font-size: 26px !important;
	}
	.title-wrap{    
		padding-bottom: 1rem;
	}
	h5{
		font-size: 16px;
	}
	.logo_exitauto{
		width: 100%;
	}
}

@media screen and (min-width: 768px){
	.logo_exitauto{
		width: 50%;
	}
}

@media screen and (max-width: 1024px){
	.navbar{
		padding: 10px;
	}
}
