	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/10/2018 08:32
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-collaboration:before { content: "\f100"; }
.flaticon-search-engine:before { content: "\f101"; }
.flaticon-analysis:before { content: "\f102"; }
.flaticon-handshake:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-insurance:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-rating:before { content: "\f107"; }


.flaticon-specification:before { content: "\f100"; }
.flaticon-description:before { content: "\f101"; }
.flaticon-car:before { content: "\f102"; }
.flaticon-steering-wheel:before { content: "\f103"; }
.flaticon-car-key:before { content: "\f104"; }
.flaticon-mechanic:before { content: "\f105"; }
.flaticon-technician:before { content: "\f106"; }
.flaticon-insurance:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-team-1:before { content: "\f109"; }
.flaticon-agreement:before { content: "\f10a"; }
.flaticon-technics:before { content: "\f10b"; }