	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2020 18:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-specification:before { content: "\f100"; }
.flaticon-description:before { content: "\f101"; }
.flaticon-car:before { content: "\f102"; }
.flaticon-steering-wheel:before { content: "\f103"; }
.flaticon-car-key:before { content: "\f104"; }
.flaticon-mechanic:before { content: "\f105"; }
.flaticon-technician:before { content: "\f106"; }
.flaticon-insurance:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-team-1:before { content: "\f109"; }
.flaticon-agreement:before { content: "\f10a"; }
.flaticon-technics:before { content: "\f10b"; }